{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ static('css/NotFound.css') }}">
{% endblock %}

{% block content %}
<section class="error-404">
    <div class="error-animation">404</div>
    <h1 class="error-title">Страница потерялась в космосе 🚀</h1>
    <p class="error-text">Похоже, мы не можем найти страницу, которую вы ищете. Возможно, она была перемещена или временно недоступна.</p>
    <a href="/" class="btn home-btn">Вернуться на главную</a>
</section>
{% endblock %}