{% extends "base.html" %}

{% block title %}Текстовый редактор{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static('css/text-editor.css') }}">
{% endblock %}

{% block content %}
<div class="editor-container">
  <div class="text-editor-head">
    <h1>Текстовый редактор</h1>
    <a class="source-link" data-source-link target="_blank" rel="noopener noreferrer" hidden>Открыть оригинал ↗</a>
  </div>
  <div class="toolbar">
    <button type="button" data-command="copy" title="Копировать текст">⎘ Копировать</button>
    <button type="button" data-command="selectAll" title="Выделить всё">☰</button>
    <button type="button" data-command="bold" title="Жирный"><b>B</b></button>
    <button type="button" data-command="italic" title="Курсив"><i>I</i></button>
    <button type="button" data-command="underline" title="Подчёркивание"><u>U</u></button>
    <button type="button" data-command="insertUnorderedList" title="Список">•</button>
    <button type="button" data-command="justifyLeft" title="По левому краю">◀</button>
    <button type="button" data-command="justifyCenter" title="По центру">↔</button>
    <button type="button" data-command="justifyRight" title="По правому краю">▶</button>
  </div>
  <div id="editor" class="editor-content" contenteditable="true" spellcheck="true"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ static('js/text-editor.js') }}"></script>
{% endblock %}
